<div class="Site">
  <div class="navbar">
    <%= link_to 'Inicio', root_path, {:class=>"active"} %>
    <%= link_to 'Gimnasios', gyms_path %>
    <%= link_to 'Poképaradas', pokestops_path %>
  </div>
  <div class="Site-content">
    <%= image_tag('pokeball_cropped.png', :class=>'poke', :style=>'width: 30%; position:absolute; right:0px; bottom:0px;') %>
  </div>
  <div class="landingfooter">…</div>
</div>